
.logo {
	-fx-background-image:url('../../data/pic/logoxanh.png');
	-fx-background-size:cover;
}
.timKiem {
	-fx-background-image:url('../../data/pic/search.png');
	-fx-background-size:cover;
	
}